# PostgreSQL Database Configuration
DB_NAME=assignment_system
DB_USER=postgres
DB_PASSWORD=your_db_password_here
DB_HOST=127.0.0.1
DB_PORT=5432

# Optional Django Server configuration
# SERVER_PORT=8000

# PLAGIARISM_THRESHOLD=0.75

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password_here
