annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
Django==4.2.30
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
Flask==3.1.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
ifaddr==0.2.0
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
ollama==0.6.2
psutil==7.2.2
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.12.1
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.6.3
uuid==1.30
waitress==3.0.2
Werkzeug==3.1.8
whitenoise==6.12.0
zeroconf==0.148.0
google-generativeai
openpyxl==3.1.2
